<div class="container mat-elevation-z4">
  <div class="paper-header">
    <mat-card-title>Checkouts</mat-card-title>
  </div>
  <div *ngIf="checkouts$ | async as checkouts">
    <div class="m-5">
      <table class="table align-middle mb-0 bg-white" >
        <thead class="bg-light">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Info</th>
        </tr>
        </thead>
        <tbody *ngIf="checkouts && checkouts.content && checkouts.content.length > 0">
        <tr *ngFor="let checkout of checkouts.content">
          <td>
            <div class="book element">
              <p class="fw-bold mb-1">{{checkout.id}}</p>
            </div>
          </td>
          <td>
<!--            something prevent from rendering other checkout properties, did not get what is the problem-->
            <div class="book element">
              <p class="fw-bold mb-1">{{checkout.borrower_last_name}}</p>
            </div>
          </td>
          <td>
            <div class="element">
              <a mat-raised-button class="fw-normal mb-1"  [routerLink]="['/checkouts', checkout.id]">
                Details
              </a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="pagination">
        <!--      {{pageIndex + 1}}-->
        <button mat-button (click)="previousPage()" [disabled]="isPreviousDisabled()">Previous</button>
        <button mat-button (click)="nextPage()" [disabled]="isNextDisabled()">Next</button>
        <!--      {{totalPages - pageIndex}}-->
      </div>
    </div>
  </div>
</div>
