<pre>{{book$ | async | json}}</pre>


<!--<div class="backdrop"></div>  -->

<!--  <div class="modal" *ngIf="book$ | async as book">-->
<!--    <nav class="navbar">-->
<!--      <h1>{{book.title}}</h1>-->
<!--    </nav>-->

<!--    <p> Author:{{book.author}}</p>-->

<!--    <p>Checkouts: {{book.checkOutCount}}</p>-->

<!--    <p>Borrowed until: {{book.dueDate}}</p>-->


<!--    <a mat-button color="primary" routerLink="/saved">Save to favorites</a>-->
<!--    <a mat-button color="primary" routerLink="/">Close</a>-->
<!--  </div>-->
